<?xml version="1.0"?>
<launch>
	<node pkg="cv_camera" type="cv_camera_node" name="cv_camera" output="screen">
		<param name="image_width" value="640" />
		<param name="image_height" value="360" />
	</node>

    <param name="package_name" value="spin_fan" />

    <!-- robotis op3 manager -->
    <include file="$(find op3_manager)/launch/op3_manager.launch"/>



	<node pkg="spin_fan" type="spin_fan.py" name="span_fan" output="screen">
	</node>

	<node pkg="op3_gripper" type="gripper.py" name="gripper" output="screen">
    </node>
</launch>

